{% extends 'base.html.twig' %}

{% block title %}Universal Academy{% endblock %}

{% block body %}
    <div class="content-wrapper">
                <table>
                    <tr class="search-bar">
                        <td>
                            <img src="images/search_icon.png" alt="search icon">
                            <input type="search" name="search-input" class="search-input" placeholder="Search">
                            <button class="add-user-btn"><a href="{{ path('dashboard_add_developer') }}">Add developer</a></button>
                        </td>
                    </tr>
                    <tr>
                        <th class="first-child">Avatar</th>
                        <th class="second-child">First name</th>
                        <th class="third-child">Last name</th>
                        <th class="last-child-developers">Options</th>
                    </tr>
                    <tr>
                    {% for user in users %}                        
                        <td class="first-child"><img src="images/profile_picture_1.png" alt="User profile picture"></td>
                        <td class="second-child">{{ user.getFirstName() }}</td>
                        <td class="third-child">{{ user.getLastName() }}</td>
                        <td>
                            <button type="button" class="btn btn-success"><a class="text-decoration-none text-white" href="{{ path('dashboard_view', {'id': user.id}) }}">View</a></button>
                            <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white" href="{{ path('dashboard_delete', {'id': user.id}) }}">Delete</a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
{% endblock %}
