{% extends 'base.html.twig' %}

{% block title %}{{ user.FirstName }} {{ user.LastName }}{% endblock %}

{% block body %}
        
        <div class="wrapper-developers-profile">
            
            <div class="content-wrapper-developers-profile grid">
                <div class="profile-info">
                    <div class="personal-info grid">
                        <button type="button" class="btn btn-info w-25 btn-sm"><a class="text-decoration-none text-white" href="{{ path('dashboard_edit_developer', {'id': user.id}) }}">Edit</a></button>

                        <img src="images/profile_picture_2.png" alt="Profile picture">
                        <span>
                            {{ user.FirstName }}
                            {{ user.LastName }}
                        </span>
                        <span><strong>First Name</strong> {{ user.FirstName }}</span>
                        <span><strong>Last Name</strong> {{ user.LastName }}</span>
                        <span><strong>Email:</strong> {{ user.Email }}</span>
                        <span><strong>Role:</strong> {{ user.roles[0] != "ROLE_DEVELOPER" ? 'Admin' : "Developer" }}</span>
                        <span><strong>Bank account:</strong> {{ user.Account }}</span>
                        <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white" href="{{ path('dashboard_add_task', {'id': user.id}) }}">Add Task</a></button>

                    </div>
                </div>

                <table class="developers-profile-table">
                    <tr>
                        <th>Client</th>
                        <th >Task</th>
                        <th>Month</th>
                        <th>Time</th>
                        <th>&nbsp</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="options last-child">

                            
                        </td>
                    </tr>
                </table>

                
            </div>            
        </div>
{% endblock %}