{% extends 'base.html.twig' %}

{% block title %}{{ app.user.FirstName }} {{ app.user.LastName }}{% endblock %}

{% block body %}
        
        <div class="wrapper-developers-profile">
            
            <div class="content-wrapper-developers-profile grid">
                <div class="profile-info">
                    <div class="personal-info grid">

                        <img src="images/profile_picture_2.png" alt="Profile picture">
                        <span>
                            {{ app.user.FirstName }}
                            {{ app.user.LastName }}

                        </span>
                        <span><strong>First Name</strong> {{ app.user.FirstName }}</span>
                        <span><strong>Last Name</strong> {{ app.user.LastName }}</span>
                        <span><strong>Email:</strong> {{ app.user.Email }}</span>
                        <span><strong>Role:</strong> {{ app.user.roles[0] != "ROLE_DEVELOPER" ? 'Admin' : "Developer" }}</span>
                        <span><strong>Bank account:</strong> {{ app.user.Account }}</span>
                        <button>Show</button>
                    </div>
                </div>

                <table class="developers-profile-table">
                    <tr>
                        <th>Client</th>
                        <th >Task</th>
                        <th>Month</th>
                        <th>Options</th>
                    </tr>
                            

                    {% for task in tasks %}                        
                    <tr>
                        <td>{{ task.getClient().getClientName() }}</td>
                        <td>{{ task.getTaskDescription() }}</td>
                        <td></td>
                        <td class="options last-child">
                            <button type="button" class="btn btn-success"><a class="text-decoration-none text-white" href="{{ path('dashboard_edit_task', {'id': task.id}) }}">Edit</a></button>
                            
                            <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white" href="{{ path('dashboard_delete_task', {'id': task.id}) }}">Delete</a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>


                
            </div>            
        </div>
{% endblock %}