{% extends 'base.html.twig' %}

{% block title %}{{ client.ClientName }}{% endblock %}

{% block body %}
        
        <div class="wrapper-developers-profile">
            
            <div class="content-wrapper-developers-profile grid">
                <div class="profile-info">
                    <div class="personal-info grid">
                        <button type="button" class="btn btn-info w-25 btn-sm"><a class="text-decoration-none text-white" href="{{ path('client_edit_client', {'id': client.id}) }}">Edit</a></button>

                        <img src="images/profile_picture_2.png" alt="Profile picture">
                        <span>
                            {{ client.ClientName }}
                        </span>
                        <span><strong>First Name</strong> {{ client.ClientName }}</span>
                        <span><strong>Manager:</strong> Manager</span>
                        <span><strong>Manager factor:</strong> Manager</span>
                        <span><strong>Payment:</strong> payment</span>
                        <button>Insert hours</button>
                        <span><strong>This month: 120:16:45</strong></span>
                    </div>
                </div>

                <table class="developers-profile-table">
                    <tr>
                        <th>Developer</th>
                        <th >Task</th>
                        <th>Month</th>
                    </tr>
                            

                    {% for task in tasks %}                        
                    <tr>
                        <td>{{ task.getUser().getFirstName() }} {{ task.getUser.getLastName() }}</td>
                        <td>{{ task.getTaskDescription() }}</td>
                        <td class="options last-child"></td>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>            
        </div>
{% endblock %}